* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

h1 {
    /* text-align: center; */
    margin: 0.75rem;
    padding-left: 1.25rem;
    color: #ffffff;
}

p {
    font-style: italic;
}

#nav {
    width: 30rem;
    background-color: #8d8989;
}


.post-1,
.post-2,
.post-3 {
    width: 15rem;
    height: 10rem;
    margin: 2rem;

}
.post-1 {
    background-color: rgb(0, 132, 255);
}

.post-2 {
    background-color: rgb(226, 6, 6);
}

.post-3 {
    background-color: yellow;
}

.note {
    border: 1px dotted;
    text-align: center;
    width: 15rem;
    height: 10rem;
}

#target {
    width: 100%;
    background: #e0dede;
    touch-action: none;
}

.post-footer {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
}

i 
{
    padding-right: 0.5rem;
}